input {
  height: 2rem;
}

/* sign-in and sign-up */
.log label {
  margin-top: 1em;
  margin-bottom: 0.25em;
}

.log label[for="terms"] {
  margin-left: 0.25em;
}

.log input {
  padding-left: 0.5em;
}

.log input[type="checkbox"] {
  height: inherit;
}

.terms {
  margin-top: 1em;
}

.log button {
  margin: 2em 0;
  height: 2em;
}

/* Jobs */
