body {
  width: 95%;
  padding: 0.5em;
  min-width: 600px;
  margin: auto;
}

main {
  width: 100%;
}

h2 {
  margin-bottom: 0.25em;
}

/* header */
header {
  display: flex;
  margin-bottom: 1em;
}

header > .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > nav > ul {
  display: flex;
  margin-left: 1em;
}

/* forms */
form.log {
  margin: auto;
  width: 80%;
}

#search-form form,
#search-form div,
#search-result header,
#plans article,
.article-layout,
form.log {
  display: flex;
  flex-direction: column;
}

/* article */
.article-layout {
  justify-content: center;
  margin-bottom: 1em;
}

.article-layout > img {
  width: 100%;
}

.article-layout > p {
  margin-top: 1em;
}

#search-result {
  margin-top: 1.5em;
}
#search-result p {
  margin-bottom: 1em;
}
#search-result h4 {
  margin-bottom: 0.25em;
}

#plans h2,
#feature h2 {
  margin: 0.5em 0;
}

#plans article {
  width: 100%;
  border: 1pt solid #000;
  margin-bottom: 1rem;
  padding: 1em;
}

#plans button {
  margin: auto auto 0;
  width: fit-content;
  padding: 0.25em;
}

#plans ul {
  border: 1px #000 solid;
  margin: 0.5em 0;
  padding: 0.25em;
  width: fit-content;
  line-height: 1.5em;
}

/* footer */
.footer-nav-container {
  display: flex;
  line-height: 2em;
}

.footer-nav-container > nav:first-of-type {
  margin-right: 2em;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media queries */
@media screen and (min-width: 900px) {
  body {
    width: 80%;
  }

  form.log {
    width: 60%;
    max-width: 500px;
  }

  #search-form form {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  #search-form div {
    width: 100%;
  }

  #search-form input[type="date"] {
    width: 100%;
  }

  #search-form select {
    margin: 0 1em 1em 0;
  }
}

@media screen and (min-width: 1200px) {
  .article-layout {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  #about-us article:nth-of-type(2n + 0) .article-layout {
    flex-direction: row-reverse;
  }

  #about-us article:nth-of-type(2n + 0) p {
    margin: 0 0.5em 0 0;
  }

  #about-us .article-layout > img {
    width: 30%;
    height: 30%;
    min-width: 300px;
  }

  #about-us .article-layout > p {
    margin: 0;
    margin-left: 0.5em;
  }

  #plans .article-layout {
    align-items: inherit;
  }

  #plans .article-layout article {
    width: 32%;
  }
}
